.cart-button {
    height: 25px;
    width: 100px;
    border-radius: 12px;
    border: none;
    background-color: rgb(255, 216, 20);
    font-weight: 550;
}
.buy-button {
    height: 25px;
    width: 100px;
    border-radius: 12px;
    border: none;
    background-color: rgb(255, 164, 28);
    font-weight: 550;
    margin-left: 8px;
} 
#amazon {
    color: rgb(0, 113, 133);
    margin-top: 900;
}
#price {
    color: rgb(0, 118, 0);
    font-weight: bold;
}